---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>		
		<div class="background">
			<div class="noise"></div>
			<div class="spotlight"></div>
			<div class="top-bg"></div>
			<div class="bottom-bg"></div>
		</div>
		<img class="globe" src="/globe.png" alt="">
	</body>
</html>
<style lang="scss">
 *,::before,::after{
	margin: 0;
	box-sizing: border-box;
 }
html{
	// width: 100%;
	// height: 100%;
	background: #000;
}
.background{
	width: 100vw;
	height: 100vh;
	background-color:  #254B43;
}
.noise{

}
.spotlight{
	/* highlight */
	position: absolute;
    width: 75%;
    height: 55%;
    left: 10%;
    top: 14%;
    background: #f7f7f7;
    mix-blend-mode: overlay;
    opacity: 0.65;
    filter: blur(93px);
    z-index: 1;
    clip-path: circle(100%);
}
.bottom-bg {
	position: absolute;
	width: 100%;
	height: 35%;
	top: 65%;
	background: #0F1F1C;
	/* bg curve */
	clip-path: inset(1% -4% -58% -5% round 51%/34%);

}
.globe{
	position: absolute;
    width: 50%;
    transform: translate(57%, -30%);
    top: 50%;
    left: 0%;
}
</style>


	