---
import '../assets/base.css'
import Snow from '../components/Snow.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Festive Wishes from Astro">
		<meta property="og:site_name" content="Astro Festive Card">
		<meta property="og:url" content="https://astro-xmas-card.vercel.app">
		<meta property="og:description" content="Wishing you the very best over the festive period">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/houstonOnBlack.png">
		<title>Astro Festive Card</title>
	</head>
	<body>
		<header>
			<div class="lights lights-left"></div>
			<div class="logo"></div>
			<div class="lights lights-right"></div>
		</header>
		<div class="background">
			<div class="noise"></div>
			<div class="spotlight"></div>
			<div class="top-bg"></div>
		</div>
		<div class="globe-img">
			<Snow numFlakes={100}></Snow>

		</div>
  		<div class="type"></div>
    <div class="bottom-bg"></div>
	</body>
</html>
<style lang="scss">
</style>
