---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>		
		<div class="background">
			<div class="noise"></div>
			<div class="spotlight"></div>
			<div class="top-bg"></div>
			<div class="bottom-bg"></div>
		</div>
		<img class="globe" src="/svg/globe.svg" alt="">
	</body>
</html>
<style lang="scss">
 *,::before,::after{
	margin: 0;
	box-sizing: border-box;
 }
html{
	// width: 100%;
	// height: 100%;
	background: #000;
}
.background{
	width: 100vw;
	height: 100vh;
	background-color:  #254B43;
}
.noise{

}
.spotlight{
	/* highlight */
	position: absolute;
    width: 75%;
    height: 55%;
    left: 14%;
    top: 19%;
    background: #FFFFFF;
    mix-blend-mode: overlay;
    opacity: 0.7;
    filter: blur(30ch);
    z-index: 1;
}
.bottom-bg {
	position: absolute;
	width: 100%;
	height: 55%;
	top: 45%;
	background: #0F1F1C;
	/* bg curve */
	clip-path: inset(1% -4% -58% -5% round 51%/34%);

}
.globe{
	position: absolute;
    top: 13%;
    left: 23%;
    width: 50%;
}
</style>


	