---
import '../assets/base.css'
import Snow from '../components/Snow.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<div class="lights lights-left"></div>
			<div class="logo"></div>
			<div class="lights lights-right"></div>
		</header>
		<div class="background">
			<div class="noise"></div>
			<div class="spotlight"></div>
			<div class="top-bg"></div>
		</div>
		<div class="globe-img">
			<Snow numFlakes={50}></Snow>

		</div>
  		<div class="type"></div>
    <div class="bottom-bg"></div>
	</body>
</html>
<style lang="scss">
</style>
